.footer__copyright{
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}
@media (max-width: 320px) {
    .footer__copyright{
            width: 100%;
            margin: 48px 0 0 0;
            line-height: 14px;
            text-align: left;
        }
}