.header__lang-link_ru{
    max-width: 30px;
    height: 28px;
    color: #FFFFFF;
    text-decoration: underline;
}
@media (max-width: 320px) {
    .header__lang-link_ru{
            max-width: 22px;
            height: 20px;
        }
}