.footer__nav{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
@media (max-width: 768px) {
    .footer__nav{
            max-width: 560px;
            width: 100%;
    
        }
}
@media (max-width: 320px) {
    .footer__nav{
            display: flex;
            gap: 32px;
            flex-direction: column;
        }
}