.cover__title{
    max-width: 560px;
    width:100%;
    margin: 0 0 32px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    text-align: center;
    z-index: 5;
}
@media (max-width: 768px) {
    .cover__title{
            font-size: 9.4vw;
        }
}
@media (max-width: 320px) {
    .cover__title{
            max-width: 288px;
            margin: 0 0 16px 0;
            font-size: 32px;
            line-height: 109%;
        }
}