.footer{
    max-width: 1184px;
    height: auto;
    margin: 92px 48px 0 48px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1024px) {
    .footer{
            max-width: 928px;
        }
}
@media (max-width: 768px) {
    .footer{
            max-width: 720px;
            margin: 88px 24px 0 24px;
        }
}
@media (max-width: 320px) {
    .footer{
            width: 186px;
            height: auto;
            margin: 64px 188px 0 16px;
            flex-direction: column;
        }
}